<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>150</key>
	<string>Gnar</string>
	<key>38</key>
	<string>Kassadin</string>
	<key>154</key>
	<string>Zac</string>
	<key>37</key>
	<string>Sona</string>
	<key>39</key>
	<string>Irelia</string>
	<key>35</key>
	<string>Shaco</string>
	<key>157</key>
	<string>Yasuo</string>
	<key>36</key>
	<string>DrMundo</string>
	<key>33</key>
	<string>Rammus</string>
	<key>34</key>
	<string>Anivia</string>
	<key>43</key>
	<string>Karma</string>
	<key>42</key>
	<string>Corki</string>
	<key>41</key>
	<string>Gangplank</string>
	<key>40</key>
	<string>Janna</string>
	<key>203</key>
	<string>Kindred</string>
	<key>201</key>
	<string>Braum</string>
	<key>22</key>
	<string>Ashe</string>
	<key>23</key>
	<string>Tryndamere</string>
	<key>24</key>
	<string>Jax</string>
	<key>25</key>
	<string>Morgana</string>
	<key>26</key>
	<string>Zilean</string>
	<key>27</key>
	<string>Singed</string>
	<key>28</key>
	<string>Evelynn</string>
	<key>29</key>
	<string>Twitch</string>
	<key>161</key>
	<string>Velkoz</string>
	<key>3</key>
	<string>Galio</string>
	<key>2</key>
	<string>Olaf</string>
	<key>1</key>
	<string>Annie</string>
	<key>30</key>
	<string>Karthus</string>
	<key>7</key>
	<string>Leblanc</string>
	<key>6</key>
	<string>Urgot</string>
	<key>5</key>
	<string>XinZhao</string>
	<key>32</key>
	<string>Amumu</string>
	<key>4</key>
	<string>TwistedFate</string>
	<key>31</key>
	<string>Chogath</string>
	<key>9</key>
	<string>Fiddlesticks</string>
	<key>8</key>
	<string>Vladimir</string>
	<key>19</key>
	<string>Warwick</string>
	<key>17</key>
	<string>Teemo</string>
	<key>18</key>
	<string>Tristana</string>
	<key>15</key>
	<string>Sivir</string>
	<key>16</key>
	<string>Soraka</string>
	<key>13</key>
	<string>Ryze</string>
	<key>14</key>
	<string>Sion</string>
	<key>11</key>
	<string>MasterYi</string>
	<key>12</key>
	<string>Alistar</string>
	<key>21</key>
	<string>MissFortune</string>
	<key>20</key>
	<string>Nunu</string>
	<key>107</key>
	<string>Rengar</string>
	<key>106</key>
	<string>Volibear</string>
	<key>105</key>
	<string>Fizz</string>
	<key>104</key>
	<string>Graves</string>
	<key>103</key>
	<string>Ahri</string>
	<key>99</key>
	<string>Lux</string>
	<key>102</key>
	<string>Shyvana</string>
	<key>101</key>
	<string>Xerath</string>
	<key>412</key>
	<string>Thresh</string>
	<key>98</key>
	<string>Shen</string>
	<key>222</key>
	<string>Jinx</string>
	<key>96</key>
	<string>KogMaw</string>
	<key>223</key>
	<string>TahmKench</string>
	<key>92</key>
	<string>Riven</string>
	<key>91</key>
	<string>Talon</string>
	<key>90</key>
	<string>Malzahar</string>
	<key>429</key>
	<string>Kallista</string>
	<key>10</key>
	<string>Kayle</string>
	<key>421</key>
	<string>RekSai</string>
	<key>89</key>
	<string>Leona</string>
	<key>79</key>
	<string>Gragas</string>
	<key>117</key>
	<string>Lulu</string>
	<key>114</key>
	<string>Fiora</string>
	<key>78</key>
	<string>Poppy</string>
	<key>115</key>
	<string>Ziggs</string>
	<key>77</key>
	<string>Udyr</string>
	<key>112</key>
	<string>Viktor</string>
	<key>113</key>
	<string>Sejuani</string>
	<key>110</key>
	<string>Varus</string>
	<key>111</key>
	<string>Nautilus</string>
	<key>119</key>
	<string>Draven</string>
	<key>432</key>
	<string>Bard</string>
	<key>245</key>
	<string>Ekko</string>
	<key>82</key>
	<string>Mordekaiser</string>
	<key>83</key>
	<string>Yorick</string>
	<key>80</key>
	<string>Pantheon</string>
	<key>81</key>
	<string>Ezreal</string>
	<key>86</key>
	<string>Garen</string>
	<key>84</key>
	<string>Akali</string>
	<key>85</key>
	<string>Kennen</string>
	<key>67</key>
	<string>Vayne</string>
	<key>126</key>
	<string>Jayce</string>
	<key>69</key>
	<string>Cassiopeia</string>
	<key>127</key>
	<string>Lissandra</string>
	<key>68</key>
	<string>Rumble</string>
	<key>121</key>
	<string>Khazix</string>
	<key>122</key>
	<string>Darius</string>
	<key>120</key>
	<string>Hecarim</string>
	<key>72</key>
	<string>Skarner</string>
	<key>236</key>
	<string>Lucian</string>
	<key>74</key>
	<string>Heimerdinger</string>
	<key>238</key>
	<string>Zed</string>
	<key>75</key>
	<string>Nasus</string>
	<key>59</key>
	<string>JarvanIV</string>
	<key>133</key>
	<string>Quinn</string>
	<key>58</key>
	<string>Renekton</string>
	<key>57</key>
	<string>Maokai</string>
	<key>56</key>
	<string>Nocturne</string>
	<key>55</key>
	<string>Katarina</string>
	<key>64</key>
	<string>LeeSin</string>
	<key>62</key>
	<string>MonkeyKing</string>
	<key>268</key>
	<string>Azir</string>
	<key>63</key>
	<string>Brand</string>
	<key>131</key>
	<string>Diana</string>
	<key>60</key>
	<string>Elise</string>
	<key>267</key>
	<string>Nami</string>
	<key>266</key>
	<string>Aatrox</string>
	<key>61</key>
	<string>Orianna</string>
	<key>143</key>
	<string>Zyra</string>
	<key>48</key>
	<string>Trundle</string>
	<key>45</key>
	<string>Veigar</string>
	<key>44</key>
	<string>Taric</string>
	<key>51</key>
	<string>Caitlyn</string>
	<key>53</key>
	<string>Blitzcrank</string>
	<key>54</key>
	<string>Malphite</string>
	<key>254</key>
	<string>Vi</string>
	<key>50</key>
	<string>Swain</string>
	<key>134</key>
	<string>Syndra</string>
</dict>
</plist>
