<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>17</key>
	<array>
		<string>Garrison</string>
		<string>SummonerOdinGarrison.png</string>
	</array>
	<key>4</key>
	<array>
		<string>Flash</string>
		<string>SummonerFlash.png</string>
	</array>
	<key>21</key>
	<array>
		<string>Barrier</string>
		<string>SummonerBarrier.png</string>
	</array>
	<key>2</key>
	<array>
		<string>Clairvoyance</string>
		<string>SummonerClairvoyance.png</string>
	</array>
	<key>13</key>
	<array>
		<string>Clarity</string>
		<string>SummonerMana.png</string>
	</array>
	<key>31</key>
	<array>
		<string>Poro Toss</string>
		<string>SummonerPoroThrow.png</string>
	</array>
	<key>3</key>
	<array>
		<string>Exhaust</string>
		<string>SummonerExhaust.png</string>
	</array>
	<key>11</key>
	<array>
		<string>Smite</string>
		<string>SummonerSmite.png</string>
	</array>
	<key>7</key>
	<array>
		<string>Heal</string>
		<string>SummonerHeal.png</string>
	</array>
	<key>32</key>
	<array>
		<string>Mark</string>
		<string>SummonerSnowball.png</string>
	</array>
	<key>6</key>
	<array>
		<string>Ghost</string>
		<string>SummonerHaste.png</string>
	</array>
	<key>14</key>
	<array>
		<string>Ignite</string>
		<string>SummonerDot.png</string>
	</array>
	<key>30</key>
	<array>
		<string>TotheKing</string>
		<string>SummonerPoroRecall.png</string>
	</array>
	<key>12</key>
	<array>
		<string>Teleport</string>
		<string>SummonerTeleport.png</string>
	</array>
	<key>1</key>
	<array>
		<string>Cleanse</string>
		<string>SummonerBoost.png</string>
	</array>
</dict>
</plist>
